@using Abp.Authorization.Users
@using Kaizen.Web.Models.Common.Modals
@using Kaizen.Web.Models.SupportTypes
@model SupportTypeListViewModel
@{
    Layout = null;
}
<div class="modal fade" id="SupportTypeCreateModal" tabindex="-1" role="dialog" aria-labelledby="SupportTypeCreateModalLabel" data-backdrop="static">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            @await Html.PartialAsync("~/Views/Shared/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(L("CreateNewSupportType")))
            <form name="supportTypeCreateForm" role="form" class="form-horizontal">
                <div class="modal-body">
                    <div class="mb-3 row required">
                        <label class="col-md-3 col-form-label">@L("Name")</label>
                        <div class="col-md-9">
                            <input type="text" class="form-control" name="Name" required>
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label class="col-md-3 col-form-label">@L("Description")</label>
                        <div class="col-md-9">
                            <textarea type="text" class="form-control" name="Description"></textarea>
                        </div>
                    </div>
                    <div class="mb-3 row required">
                        <label class="col-md-3 col-form-label">@L("Cost")</label>
                        <div class="col-md-9">
                            <input type="number" class="form-control" name="Cost" required>
                        </div>
                    </div>
                    <div class="mb-3 row required">
                        <label class="col-md-3 col-form-label">@L("Margin")</label>
                        <div class="col-md-9">
                            <input type="number" class="form-control" name="Margin" required>
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label class="col-md-3 col-form-label">@L("SellPrice")</label>
                        <div class="col-md-9">
                            <span id="sellPriceCalculated"></span>
                        </div>
                    </div>
                </div>
                @await Html.PartialAsync("~/Views/Shared/Modals/_ModalFooterWithSaveAndCancel.cshtml")
            </form>
        </div>
    </div>
</div>
