@using Abp.Authorization.Users
@using Kaizen.Entities.Companies.Dto;
@using Kaizen.Web.Models.Common.Modals
@using Kaizen.Web.Models.Companies
@model CompanyDto
@{
    Layout = null;
}
@await Html.PartialAsync("~/Views/Shared/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(L("EditCompany")))

<link href="~/libs/coloris/coloris.css" rel="stylesheet" />
<form name="companyEditForm" role="form" class="form-horizontal" onsubmit="SaveFormSubmit(this);return false;" asp-action="Edit" method="post" enctype="multipart/form-data">
    <input type="hidden" name="Id" value="@Model.Id" />
    <input type="hidden" name="LogoFileId" value="@Model.LogoFileId" />
    <div class="modal-body">
        <div class="mb-3 row required">
            <label class="col-md-3 col-form-label">@L("Name")</label>
            <div class="col-md-9">
                <input type="text" class="form-control" name="Name" value="@Model.Name" required minlength="2" />
            </div>
        </div>

        <div class="mb-3 row required">
            <label class="col-md-3 col-form-label">@L("Description")</label>
            <div class="col-md-9">
                <input type="text" class="form-control" name="Description" value="@Model.Description" required minlength="2" />
            </div>
        </div>
        <div class="mb-3 row required">
            <label class="col-md-3 col-form-label">@L("SendFromEmailAddress")</label>
            <div class="col-md-9">
                <input type="text" class="form-control" name="SendFromEmailAddress" value="@Model.SendFromEmailAddress" required />
            </div>
        </div>        
        <div class="mb-3 row required">
            <label class="col-md-3 col-form-label">@L("PrimaryBrandColour")</label>
            <div class="col-md-4">
                <input type="text" class="form-control brand-color" name="PrimaryBrandColour" value="@Model.PrimaryBrandColour" required data-coloris />
            </div>
        </div>
        <div class="mb-3 row required">
            <label class="col-md-3 col-form-label">@L("SecondaryBrandColour")</label>
            <div class="col-md-4">
                <input type="text" class="form-control brand-color" name="SecondaryBrandColour" value="@Model.SecondaryBrandColour" required data-coloris />
            </div>
        </div>
        <div class="mb-3 row required">
            <label class="col-md-3 col-form-label">Logo</label>
            <div class="col-md-4">
                <input class="form-control" type="file" name="LogoFile" />
            </div>
            <div class="col-md-5">
                <img width="150" height="150" src="@Url.Action("DisplayImage", "Companies", new { id = Model.LogoFileId })" alt="Image" />
            </div>
           
        </div>
        <div class="mb-3 row required">
            <label class="col-md-3 col-form-label">@L("IsActive")</label>
            <div class="col-md-9">  
                <input class="form-check-input" id="IsActive" type="checkbox" name="IsActive" value="true" />
            </div>
        </div>

    </div>@await Html.PartialAsync("~/Views/Shared/Modals/_ModalFooterWithSaveAndCancel.cshtml")
</form>

<script src="~/view-resources/Views/Company/_EditModal.js" asp-append-version="true"></script>

<script src="~/libs/coloris/coloris.js"></script>