@using Abp.Authorization.Users
@using Kaizen.Web.Models.Common.Modals
@using Kaizen.Web.Models.History
@model EditHistoryModalViewModel
@{
    Layout = null;
}

@await Html.PartialAsync("~/Views/Shared/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(L("ViewChangeset")))

<div class="modal-body">
    <input type="hidden" name="changesetId" id="changesetId" value="@Model.History.Id" />
    
    <div class="table-responsive">
        <table id="SupportTypesTable" class="table table-hover table-nowrap mb-0 align-middle table-check">
            <thead class="table-light">
                <tr>
                    <th class="rounded-start"></th>
                    <th>@L("PropertyName")</th>
                    <th>@L("OriginalValue")</th>
                    <th>@L("NewValue")</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>
<div class="modal-footer justify-content-between">
    <button type="button" class="btn btn-danger close-button" data-bs-dismiss="modal">@L("Cancel")</button>
</div>



<script src="~/view-resources/Views/Histories/_EditModal.js" asp-append-version="true"></script>